<div class="sidebar">
<ul>	
	<li><img src="/images/icons/png/black/16x16/arrow2_e.png"><a href="/index.html">Home</a></li>
	<li><img src="/images/icons/png/black/16x16/arrow2_e.png"><a href="/about.html">About</a></li>
	<li><img src="/images/icons/png/black/16x16/arrow2_e.png"><a href="/all-posts.html">All Posts</a></li>
	<li><img src="/images/icons/png/black/16x16/arrow2_e.png"><a href="/projects.html">Projects</a></li>
	<li><img src="/images/icons/png/black/16x16/arrow2_e.png"><a href="/writings.html">Writings</a></li>
</ul>
</div>